<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head th:replace="fragments/head:: head"></head>
<body>
    <header th:replace="fragments/menu_responsivo :: header1"></header>
    <main th:replace="fragments/menu_responsivo :: header2"></main>
    <main class="cd-main-content">
        <div class="content-wrapper">
            Fornecedores
            <ul>
                <li><a th:href="@{/fornecedor/listar}">Listar</a></li>
                <li><a th:href="@{/fornecedor/cadastrar}">Cadastrar</a></li>
            </ul>

            <br/><br/>

            Página inicial do cliente:
            <a th:href="@{/usuario/cliente/home}"> aqui. </a>
        </div>
        <div class="content-wrapper">
            <Serviços></Serviços>
            <ul>
                <li><a th:href="@{/servicos/listar}">Listar</a></li>
            </ul>
        </div>
    </main>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastro realizado com sucesso</h5>
                <a class="close" th:href="@{/usuario/painel}" role="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                Funcionário cadastrado e ativado com sucesso!
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" th:href="@{/usuario/painel}" role="button">Fechar</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Falha ao realizar o cadastro</h5>
                <a class="close" th:href="@{/}" role="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                Já existe uma conta cadastrada com esse e-mail.
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" th:href="@{/}" role="button">Fechar</a>
            </div>
        </div>
    </div>
</div>

<a th:href="@{/proposta/visualizar}" class="float">
    <i class="fa fa-plus my-float"></i>
</a>
<div class="label-container">
    <div class="label-text">Nova Proposta</div>
    <i class="fa fa-play label-arrow"></i>
</div>

<script th:if="${resp == 'exists'}">
    $(function(){
        $('#myModal').modal('show');
    });
</script>

<script th:if="${resp == 'register'}">
    $(function(){
        $('#myModal2').modal('show');
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script th:src="@{../js/jquery-2.1.4.js}"></script>
<script th:src="@{../js/jquery.menu-aim.js}"></script>
<script th:src="@{../js/main.js}"></script> <!-- Resource jQuery -->

</body>
</html>