<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Responsive Tabs</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style_servicos.css"/>
</head>
<body>

<!--<hr></hr>-->
<div class="container"><h2>Serviços</h2></div>

<div id="exTab2" class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#1" data-toggle="tab" onclick="selecionar_servicos('Pendente')">Pendentes</a></li>
        <li><a href="#2" data-toggle="tab" onclick="selecionar_servicos('Cancelado')">Cancelados</a></li>
        <li><a href="#3" data-toggle="tab" onclick="selecionar_servicos('Concluído')">Concluídos</a></li>
    </ul>

    <div class="tab-content ">
        <div class="tab-pane active" id="1">
            <div th:if="${#lists.isEmpty(servicos_pendentes)}">
                <h5>Nenhum serviço cadastrado!</h5>
            </div>
            <div th:unless="${#lists.isEmpty(servicos_pendentes)}">
                <table>
                    <thead>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Data Prevista</th>
                    <th>Técnico Responsável</th>
                    <th>Endereço</th>
                    <th>Pragas Previstas</th>
                    <th>Renegociar</th>
                    <th>Cancelar</th>
                    </thead>
                    <tbody>
                    <tr th:each="servico : ${servicos_pendentes}">
                        <td th:text="${servico.nome}">Nome</td>
                        <td th:text="${servico.descricao}">Descrição</td>
                        <td th:text="${#dates.format(servico.data, 'dd/MM/yyyy')}">Data Prevista</td>
                        <td th:text="${servico.funcionarioTecnico.nome}">Técnico Responsável</td>
                        <td th:text="${endereco.rua} + ', ' + ${endereco.numero} +
                                        ', ' + ${endereco.complemento} + ', ' + ${endereco.bairro} +
                                        ', ' + ${endereco.cep} + ', ' + ${endereco.cidade} + ', ' + ${endereco.uf}">Endereço</td>
                        <td th:each="praga : ${servico.pragas}">
                            <p th:text="${praga.nome}">Possível Praga</p>
                        </td>
                        <td><button type="button" class="btn btn-warning">Renegociar</button></td>
                        <td><button type="button" class="btn btn-danger">Cancelar</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane" id="2">
            <h3>Notice the gap between the content and tab after applying a background color</h3>
        </div>
        <div class="tab-pane" id="3">
            <h3>add clearfix to tab-content (see the css)</h3>
        </div>
    </div>
</div>

<!--<hr></hr>-->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/servicos.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>