<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head th:replace="fragments/head:: head"></head>
<body>
    <header th:replace="fragments/menu_responsivo :: header1"></header>
    <main th:replace="fragments/menu_responsivo :: header2"></main>
    <main class="cd-main-content">


    </main>

    <!-- MENU -->
    <script th:src="@{../js/menu/jquery-2.1.4.js}"></script>
    <script th:src="@{../js/menu/jquery.menu-aim.js}"></script>
    <script th:src="@{../js/menu/main.js}"></script>
</body>
</html>