<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.w3.org/1999/xhtml" class="no-js">
<head th:replace="fragments/head:: head"></head>
<head>
    <link th:href="@{/../css/style_pragas.css}" rel="stylesheet" />
</head>
<body>
<header th:replace="fragments/menu_responsivo :: header1"></header>
<main th:replace="fragments/menu_responsivo :: header2"></main>
<main class="cd-main-content">
    <div class="content-wrapper">
        <h1>Gerenciar Pragas</h1>
        <div class="row" id="add-pragas">
            <div class="col-12">
                <form name="form-add-praga" method="post" th:action="@{/praga/adicionar}">
                    <div class="input-group">
                        <input class="form-control" type="text" name="nome" placeholder="Nome da Praga" th:maxlength="59" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary add" type="submit">
                                <i class="fa fa-plus"></i>
                            </button>
                        </span>
                    </div>
                    <p class="error-nome"></p>
                </form>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Pragas Cadastradas no Sistema</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-9"></div>
                    <div class="col-3">
                        <form class="form-inline my-4 my-lg-0 mr-lg-4">
                            <div class="input-group">
                                <input class="form-control btn-buscar" type="text" placeholder="Buscar..." id="input-buscar" onkeyup="buscar()" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Ações</th>
                        </tr>
                        </thead>

                        <tfoot>
                        <tr>
                            <th>Nome</th>
                            <th>Ações</th>
                        </tr>
                        </tfoot>
                        <tbody>

                        <tr th:each="praga : ${pragas}">
                            <td href="#" th:text="${praga.nome}"></td>
                            <td>
                                <form method="post" th:action="@{/praga/deletar}">
                                    <input type="hidden" th:value="${praga.id}" name="id" />
                                    <button type="submit" value="delete" class="btn btn-danger">Excluir</button>
                                    <button type="button" th:value="${praga.id}" class="btn btn-primary alterar" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Alterar</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</main>

<div class="modal fade alterar-praga" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Alterar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/praga/alterar}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" id="recipient-name" name="nomePraga" required="required" th:maxlength="59" />
                        <input type="hidden" id="idNovoNome" name="idAltPraga" />
                        <p class="error-emailS"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <input class="btn btn-primary" type="submit" value="Alterar" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="error_exclusao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Falha na Operação</h5>
                <a class="close" th:href="@{/praga/visualizar}" role="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                Não foi possível realizar a operação. A praga está sendo usada pelo sistema.
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" th:href="@{/praga/visualizar}" role="button">Fechar</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_ok" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sucesso</h5>
                <a class="close" th:href="@{/praga/visualizar}" role="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                Operação realizada com sucesso.
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" th:href="@{/praga/visualizar}" role="button">Fechar</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Falha na Operação</h5>
                <a class="close" th:href="@{/praga/visualizar}" role="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                Não foi possivel realizar a operação. Tente de novo mais tarde.
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" th:href="@{/praga/visualizar}" role="button">Fechar</a>
            </div>
        </div>
    </div>
</div>

<!-- JQUERY -->
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}" ></script>
<!-- MENU -->
<script th:src="@{../js/menu/jquery-2.1.4.js}"></script>
<script th:src="@{../js/menu/jquery.menu-aim.js}"></script>
<script th:src="@{../js/menu/main.js}"></script>
<!--SCRIPT-->
<script th:src="@{../js/pragas.js}"></script>
<!--MODAL-->
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js}" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js}" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script th:if="${param.ok}" >
    $(function(){
        $('#modal_ok').modal('show');
    });
</script>

<script th:if="${param.error_excluir}" >
    $(function(){
        $('#error_exclusao').modal('show');
    });
</script>

<script th:if="${param.error}" >
    $(function(){
        $('#error').modal('show');
    });
</script>

</body>
</html>