<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head>
</head>
<body>
<header th:fragment="header1" class="cd-main-header">
    <a href="#0" class="cd-logo"><img src="../img/cd-logo.svg" alt="Logo"/></a>


    <a href="#0" class="cd-nav-trigger">Menu<span></span></a>

    <nav class="cd-nav">
        <ul class="cd-top-nav">
            <!--
            <li><a href="#0">Funcionário</a></li>-->
            <!--<li class="has-children account">-->

            <div class="dropdown show">

            <a class="btn btn-secondary dropdown-toggle" href="#0" role="button" id="dropdownSuaConta"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                    <img src="../img/cd-avatar.png" alt="avatar"/>
                    Conta
                </a>


                    <div class="dropdown-menu" aria-labelledby="dropdownSuaConta">
                        <a class="dropdown-item" href="#0">Editar Conta</a>
                        <a class="dropdown-item" href="#0" th:href="@{/logout}">Sair</a>
                        <form th:action="@{/logout}" method="post" ></form>
                    </div>
                </div>
            <!--</li>-->
        </ul>
    </nav>
</header>
<!--
        <div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
        -->
<main th:fragment="header2" class="cd-main-content">
    <nav class="cd-side-nav">
        <ul>
            <li class="cd-label">Principal</li>
            <li class="has-children overview">
                <a th:href="@{/usuario/painel}">Início</a>
            </li>
            <!--
            <li class="has-children overview">
                <a href="#0">Serviços</a>

                <ul>
                    <li><a href="#0">Renegociação</a></li>
                    <li><a href="#0">Correntes</a></li>
                    <li><a href="#0">Finalizados</a></li>
                </ul>
            </li>
            <li class="has-children notifications active">
                <a href="#0">Propostas<span class="count">3</span></a>
            </li>-->
        </ul>


        <ul class="dropdown show">

            <li class="cd-label">Empresa</li>
            <!--
            <li class="has-children bookmarks">
                <a th:href="@{/fornecedor/listar}">Fornecedores</a>


            <li class="has-children users">
                <a href="#0">Clientes</a>
            </li>
            </li>-->
            <li class="has-children overview">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownOutros"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Outros</a>
                <div class="dropdown-menu" aria-labelledby="dropdownOutros">
                    <!--<li><a href="#">Funcionário Técnico</a></li> -->
                    <a class="dropdown-item" th:href="@{/praga/visualizar}">Pragas</a>
                </div>
            </li>
        </ul>

        <ul>
            <li class="cd-label">Ações</li>
            <li class="action-btn"><a th:href="@{/proposta/visualizar}">+ Nova Proposta</a></li>
        </ul>
    </nav>
</main>

</body>
</html>