<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" class="no-js">
<head>
</head>
<body>
<header th:fragment="header1" class="cd-main-header">
    <a href="#0" class="cd-logo"><img src="../img/cd-logo.svg" alt="Logo" /></a>


    <a href="#0" class="cd-nav-trigger">Menu<span></span></a>

    <nav class="cd-nav">
        <ul class="cd-top-nav">
            <!--
            <li><a href="#0">Funcionário</a></li>-->
            <li class="has-children account">
                <a href="#0">
                    <img src="../img/cd_avatar.png" alt="avatar" />
                    Conta
                </a>
                <ul>
                    <li><a href="#0">Sua Conta</a></li>
                    <li><a href="#0">Editar Conta</a></li>
                    <li><a href="#0" th:href="@{/logout}">Sair</a>
                        <form th:action="@{/logout}" method="post" ></form>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<main th:fragment="header2" class="cd-main-content">
    <nav class="cd-side-nav">
        <ul>
            <li class="cd-label">Principal</li>
            <li class="has-children overview">
                <a th:href="@{/usuario/painel}">Início</a>
            </li>

            <li sec:authorize="hasAuthority('NIVEL_FUNCIONARIO')" class="has-children overview">
                <a href="#0">Proposta</a>
                <ul>
                    <li><a th:href="@{/proposta/visualizar}">Minhas</a></li>
                    <li><a th:href="@{/proposta/abertas}">Em Abertas</a></li>
                    <!--<li><a href="#0">Finalizados</a></li>-->
                </ul>
            </li>
            <li class="has-children overview">
                <a href="#0">Serviço</a>
                <ul>
                    <li><a th:href="@{/renegociando/listar}">Renegociação</a></li>
                </ul>
            </li>
            <li sec:authorize="hasAuthority('NIVEL_CLIENTE')" class="has-children notifications">
                <a th:href="@{/proposta/visualizar}">Propostas<span class="count">3</span></a>
            </li>
        </ul>

        <ul>

            <li class="cd-label">Empresa</li>
            <!--
            <li class="has-children bookmarks">
                <a href="#0">Fornecedores</a>
            <li class="has-children users">
                <a href="#0">Clientes</a>
            </li>
            </li>-->
            <li sec:authorize="hasAuthority('NIVEL_FUNCIONARIO')" class="has-children overview">
                <a href="#">Outros</a>
                <ul>
                    <!--<li><a href="#">Funcionário Técnico</a></li> -->
                    <li><a th:href="@{/praga/visualizar}">Pragas</a></li>
                </ul>
            </li>
        </ul>

        <ul>
            <li class="cd-label">Ações</li>
            <li class="action-btn"><a th:href="@{/proposta/visualizar}">+ Nova Proposta</a></li>
        </ul>
    </nav>
</main>

</body>
</html>