/*******************
*    FORM PRAGAS   *
********************/
#add-pragas {
    margin-bottom: 20px;
}
#add-pragas form {
    width: 70%;
    margin: auto;
    text-align: center;
}
#add-pragas form input, #add-pragas form button {
    height: 35px;
    padding: 5px;
    font-size: 14pt;
}
#add-pragas form button {
    padding: 0 10px;
}
/*******************
*  TABELA PRAGAS   *
********************/
table thead, table tfoot {
    font-weight: bold;
}
table {
    font-size: 12pt;
}
/*******************
*  BOTÕES          *
********************/
.btn{
    color: #FFF;
    font-size: 11pt;
}
.btn-warning:hover {
    color: #FFF;
}
/*******************
*  FORM BUSCA      *
********************/
.input-group {
    margin-bottom: 10px;
    font-size: 14pt;
}
.btn-buscar {
    font-size: 11pt;
}
.alterar-praga {
    font-size: 25pt;
}
.alterar-praga input[name="nomePraga"] {
    font-size: 11pt;
    padding: 5px;
}