body {
    background-color: #373c42;
}

.container {
    text-align: center;
    padding: 2px;
}

#formulario input {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    border: 1px solid rgba(4, 99, 201, 0.9);
    padding: 12px 0;
    margin: 5px;
    padding-left: 10px;
}

.container {
    padding: 15px 25px 10px 15px;
    background-color: white;
    border-radius: 15px;
}

#formulario .acao {
    background: rgba(4, 99, 201, 0.9);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 0;
    float: left;
    margin-right: 5%;
}

#formulario .acao:hover {
    background: rgba(9, 79, 157, 0.9);
}

#item-menu:hover{
    color: #7aa9de;
}

.container > h1 {
    text-align: center;
    color: #373c42;
}

#painel {
    display: flex;
    align-items: center;
    height: 95%;
}


form #esqueceu_senha > a {
    cursor: pointer;
}

form {
    width: 100%;
}

#option2 {
    padding: 12px 0;
}
