<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Fornecedores cadastrados</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>
    <h1>Lista de Fornecedores!</h1>

    <div class="default-panel">
        <div th:if="${#lists.isEmpty(fornecedores)}">
            <h5>Nenhum fornecedor cadastrado</h5>
        </div>
        <div th:unless="${#lists.isEmpty(fornecedores)}">
            <table>
                <thead>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Endereços</th>
                </thead>
                <tbody>
                    <tr th:each="fornecedor : ${fornecedores}">
                        <td th:text="${fornecedor.nome}">Nome</td>
                        <td th:text="${fornecedor.telefone}">Telefone</td>
                        <td>
                            <ul th:each="endereco : ${fornecedor.enderecos}">
                                <li th:text="${endereco.rua} + ', ' + ${endereco.numero} +
                                        ', ' + ${endereco.complemento} + ', ' + ${endereco.bairro} +
                                        ', ' + ${endereco.cep} + ', ' + ${endereco.cidade} + ', ' + ${endereco.uf}">Endereço</li>
                            </ul>
                        </td>
                        <td>
                            <a th:href="${'/fornecedor/remover/' + fornecedor.id}">Remover</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<br/>
<a th:href="@{/usuario/painel}">Voltar para o painel </a>
</html>