<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Antipragas - Login</title>
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
    <link th:href="@{css/style_login.css}" rel="stylesheet" />
    <link th:href="@{css/style_home.css}" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-full " id="nav-main">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}" id="item-menu">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="row" id="painel" >
    <div class="col-12 col-md-2">
    </div>

    <div class="col-12 col-md-6 container">
        <img src="img/logo.png" alt="logo antipragas"/>
        <form id="formulario" th:action="@{/login}" method="post" name="form-login">
            <div class="row">
                <div class="col-12 col-md-12">
                    Email
                    <input type="text" name="username" />
                    <p class="error-email"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    Senha
                    <input type="password" name="password" />
                    <p class="error-senha"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12">
                    <input class="acao" type="submit" value="Entrar" />
                </div>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div id="esqueceu_senha">
                <a data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap" >Esqueceu a senha?</a>
            </div>
        </form>
    </div>

    <div class="col-12 col-md-2">
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Falha na Autenticação</h5>
                <a class="close" th:href="@{/login}" role="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                E-mail ou senha incorreto, ou o cadastro com o e-mail informado não foi confirmado.
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" th:href="@{/login}" role="button">Fechar</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Redefinir Senha</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/usuario/resetar}" method="post">
            <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">Informe seu email</label>
                        <input type="email" class="form-control" id="recipient-name" name="emailResetarSenha" />
                        <p class="error-emailS"></p>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <input class="btn btn-primary" type="submit" value="Resetar" />
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Redefinir senha</h5>
                <a class="close" th:href="@{/login}" role="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                Se existe um cadastro com esse email, então enviamos para o email o link para redefir a nova senha.
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" th:href="@{/login}" role="button">Fechar</a>
            </div>
        </div>
    </div>
</div>

<!-- JQUERY -->
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}" ></script>

<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js}" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js}" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script th:if="${param.error}" >
    $(function(){
        $('#myModal').modal('show');
    });
</script>

<script th:if="${resp == 'concluido'}" >
    $(function(){
        $('#myModal3').modal('show');
    });
</script>
</body>
</html>
