<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="">
<head>
    <title>Antipragas - Negociação</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link th:href="@{/../css/style_pragas.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/../css/style_negociacao.css}" />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-full " id="nav-main">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/proposta/visualizar}" id="item-menu">Voltar</a>
            </li>
        </ul>
    </div>
</nav>

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div sec:authorize="hasAuthority('NIVEL_CLIENTE')" class="conteudo-servico col-12 col-md-4">
                <div class="card mb-3">
                    <div class="card-header" th:inline="text" >
                        Proposta [[${proposta.id}]]
                        <div style="float: right" th:class="orcamentoProp">Orçamento: R$ [[${proposta.orcamento}]]</div>
                    </div>
                    <input type="hidden" th:value="${proposta.id}" class="id_proposta" />
                    <div class="card-body">
                        <div class="row" th:switch="${proposta.tipo.toString()}">
                            <div class="col-md-12" th:case="TIPO_EXTERMINIO">
                                <span style="font-weight: bold">Tipo:</span>
                                Extermínio
                            </div>
                            <div class="col-md-12" th:case="TIPO_PREVENCAO">
                                <span style="font-weight: bold">Tipo:</span>
                                Prevenção
                            </div>
                        </div>
                        <div class="row" th:if="${proposta.frequencia.toString() != 'FREQUENCIA_NULA'}" th:switch="${proposta.frequencia.toString()}">
                            <div class="col-md-12" th:case="FREQUENCIA_DIARIAMENTE">
                                <span style="font-weight: bold">Frequencia:</span>
                                Diariamente
                            </div>
                            <div class="col-md-12" th:case="FREQUENCIA_SEMANALMENTE">
                                <span style="font-weight: bold">Frequencia:</span>
                                Semanalmente
                            </div>
                            <div class="col-md-12" th:case="FREQUENCIA_MENSALMENTE">
                                <span style="font-weight: bold">Frequencia:</span>
                                Mensalmente
                            </div>
                            <div class="col-md-12" th:case="FREQUENCIA_ANUALMENTE">
                                <span style="font-weight: bold">Frequencia:</span>
                                Anualmente
                            </div>
                        </div>
                        <div class="row" th:if="${proposta.frequencia.toString() != 'FREQUENCIA_NULA'}">
                            <div class="col-md-12" th:inline="text">
                                <span style="font-weight: bold">Quantidade:</span>
                                [[${proposta.quantidade}]]
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" th:inline="text">
                                <span style="font-weight: bold">Praga(s):</span> [[${pragas}]]
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" th:inline="text">
                                <span style="font-weight: bold">Descricão:</span> [[${proposta.descricao}]]
                            </div>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">Empresa Antipragas</div>
                </div>
                <div class="row">
                    <form class="col-12" method="post" th:action="@{/proposta/aceitarc}">
                        <div class="col-12">
                            <input type="hidden" th:value="${proposta.id}" name="id" />
                            <input class="button-negociando aceitar" type="submit" value="Aceitar" />
                        </div>
                    </form>
                </div>
                <div class="row">
                    <form class="col-12" method="post" th:action="@{/proposta/cancelarc}">
                        <div class="col-12">
                            <input type="hidden" th:value="${proposta.id}" name="id" />
                            <input class="button-negociando cancelar" type="submit" value="Cancelar" />
                        </div>
                    </form>
                </div>
            </div>

            <div sec:authorize="hasAuthority('NIVEL_FUNCIONARIO')" class="conteudo-servico col-12 col-md-4">
                <div class="card mb-3">
                    <div class="card-header" th:inline="text" >
                        Proposta [[${proposta.id}]]
                        <div style="float: right">Orçamento: R$ [[${proposta.orcamento}]]</div>
                    </div>
                    <input type="hidden" th:value="${proposta.id}" class="id_proposta" />
                    <div class="card-body">
                        <div class="row" th:switch="${proposta.tipo.toString()}">
                            <div class="col-md-12" th:case="TIPO_EXTERMINIO">
                                <span style="font-weight: bold">Tipo:</span>
                                Extermínio
                            </div>
                            <div class="col-md-12" th:case="TIPO_PREVENCAO">
                                <span style="font-weight: bold">Tipo:</span>
                                Prevenção
                            </div>
                        </div>
                        <div class="row" th:if="${proposta.frequencia.toString() != 'FREQUENCIA_NULA'}" th:switch="${proposta.frequencia.toString()}">
                            <div class="col-md-12" th:case="FREQUENCIA_DIARIAMENTE">
                                <span style="font-weight: bold">Frequencia:</span>
                                Diariamente
                            </div>
                            <div class="col-md-12" th:case="FREQUENCIA_SEMANALMENTE">
                                <span style="font-weight: bold">Frequencia:</span>
                                Semanalmente
                            </div>
                            <div class="col-md-12" th:case="FREQUENCIA_MENSALMENTE">
                                <span style="font-weight: bold">Frequencia:</span>
                                Mensalmente
                            </div>
                            <div class="col-md-12" th:case="FREQUENCIA_ANUALMENTE">
                                <span style="font-weight: bold">Frequencia:</span>
                                Anualmente
                            </div>
                        </div>
                        <div class="row" th:if="${proposta.frequencia.toString() != 'FREQUENCIA_NULA'}">
                            <div class="col-md-12" th:inline="text">
                                <span style="font-weight: bold">Quantidade:</span>
                                [[${proposta.quantidade}]]
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" th:inline="text">
                                <span style="font-weight: bold">Praga(s):</span> [[${pragas}]]
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" th:inline="text">
                                <span style="font-weight: bold">Descricão:</span> [[${proposta.descricao}]]
                            </div>
                        </div>
                    </div>
                    <div class="card-footer small text-muted">Empresa Antipragas</div>
                </div>

                <div class="row">
                    <!--<div class="col-1"></div>-->
                    <form class="col-12" method="post" th:action="@{/proposta/aceitarf}">
                        <div class="col-12" th:if="${proposta.status.toString() == 'STATUS_PROPOSTA_PENDENTE'}">
                            <input type="hidden" th:value="${proposta.id}" name="id" />
                            <input class="button-negociando aceitar bloqueado" type="submit" value="Aceitar" th:disabled="disabled" />
                        </div>
                        <div class="col-12" th:if="${proposta.status.toString() == 'STATUS_PROPOSTA_APROVADA'}">
                            <input type="hidden" th:value="${proposta.id}" name="id" />
                            <input class="button-negociando aceitar" type="submit" value="Aceitar" />
                        </div>
                    </form>
                </div>
                <div class="row">
                    <form class="col-12" method="post" th:action="@{/proposta/cancelarf}">
                        <div class="col-12">
                            <input type="hidden" th:value="${proposta.id}" name="id" />
                            <input class="button-negociando cancelar" type="submit" value="Cancelar" />
                        </div>
                    </form>
                </div>
            </div>

            <div sec:authorize="hasAuthority('NIVEL_CLIENTE')" class="conteudo-servico col-12 col-md-8">
                <div class="card mb-3" th:each="servico : ${preServicos}">
                    <div class="card-header" th:inline="text">
                        <div class="row">
                            <div class="col-4">Serviço [[${servico.id}]]</div>
                            <div style="text-align: right" th:class="'orcamento'+ ${servico.id} + ' col-8'" th:if="${servico.orcamento} == null" th:inline="text">Orçamento: NÃO INFORMADO</div>
                            <div style="text-align: right" th:class="'orcamento'+ ${servico.id} + ' col-8'" th:if="${servico.orcamento} != null" th:inline="text">Orçamento: R$ [[${servico.orcamento}]]</div>
                        </div>
                    </div>
                    <div class="card-body" th:inline="text">
                        <div th:if="${servico.dataHorario} != null" th:class="'data' + ${servico.id}">
                            <span style="font-weight: bold" >Data e Horário: </span><span th:text="${#dates.format(servico.dataHorario, 'dd/MM/YYYY HH:mm')}"></span> <br />
                        </div>
                        <div th:if="${servico.dataHorario} == null" th:class="'data' + ${servico.id}">
                            <span style="font-weight: bold" >Data: </span>NÃO INFORMADO<br />
                        </div>
                        <div th:if="${servico.funcionarioTecnico} == null" th:class="'funcionario'+${servico.id}">
                            <span style="font-weight: bold">Funcionário Técnico: </span> NÃO INFORMADO <br />
                        </div>
                        <div th:if="${servico.funcionarioTecnico} != null" th:class="'funcionario'+${servico.id}">
                            <span style="font-weight: bold">Funcionário Técnico: </span> [[${servico.funcionarioTecnico.nome}]]<br />
                        </div>
                        <div>
                            <span style="font-weight: bold">Endereço: </span> [[${servico.endereco.rua}]] [[${servico.endereco.numero}]] [[${servico.endereco.bairro}]] - [[${servico.endereco.cidade}]]/[[${servico.endereco.uf}]]<br />
                        </div>
                        <div th:class="'descricao'+${servico.id}">
                            <span style="font-weight: bold">Descricão: </span>[[${servico.descricao}]]<br />
                        </div>
                    </div>
                    <div class="card-footer small text-muted">Empresa Antipragas</div>
                </div>
            </div>
            <div sec:authorize="hasAuthority('NIVEL_FUNCIONARIO')" class="conteudo-servico col-12 col-md-8">
                <div class="card mb-3" th:each="servico : ${preServicos}">
                    <div class="card-header" th:inline="text">
                        <div class="row">
                            <div class="col-4">Serviço [[${servico.id}]]</div>
                            <div class="col-8 orcamento" th:if="${servico.orcamento} == null" th:inline="text">Orçamento: NÃO INFORMADO</div>
                            <div class="col-8 orcamento" th:if="${servico.orcamento} != null" th:inline="text">Orçamento: [[${servico.orcamento}]]</div>
                        </div>
                    </div>
                    <div class="card-body" th:inline="text">
                        <div th:if="${servico.dataHorario} != null">
                            <span style="font-weight: bold" >Data e Horário: </span><span th:text="${#dates.format(servico.dataHorario, 'dd/MM/YYYY HH:mm')}"></span> <br />
                        </div>
                        <div th:if="${servico.dataHorario} == null">
                            <span style="font-weight: bold" >Data: </span>NÃO INFORMADO<br />
                        </div>
                        <div th:if="${servico.funcionarioTecnico} == null">
                            <span style="font-weight: bold">Funcionário Técnico: </span> NÃO INFORMADO<br />
                        </div>
                        <div th:if="${servico.funcionarioTecnico} != null">
                            <span style="font-weight: bold">Funcionário Técnico: </span> [[${servico.funcionarioTecnico.nome}]]<br />
                        </div>
                        <div>
                            <span style="font-weight: bold">Endereço: </span> [[${servico.endereco.rua}]] [[${servico.endereco.numero}]] [[${servico.endereco.bairro}]] - [[${servico.endereco.cidade}]]/[[${servico.endereco.uf}]]<br />
                        </div>
                        <div>
                            <span style="font-weight: bold">Descricão: </span>[[${servico.descricao}]]<br />
                        </div>
                    </div>
                    <div class="card-footer small text-muted">
                        <form method="get" th:action="@{/proposta/preservico}">
                            <input type="hidden" th:value="${servico.id}" name="id" />
                            <button th:if="${proposta.status.toString() == 'STATUS_PROPOSTA_APROVADA'}" type="submit" class="btn btn-primary botao-editar"
                                    th:disabled="disabled"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</button>
                            <button th:if="${proposta.status.toString() != 'STATUS_PROPOSTA_APROVADA'}" type="submit" class="btn btn-primary botao-editar"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CHATS -->
<aside sec:authorize="hasAuthority('NIVEL_CLIENTE')" id="chat_cliente">
    <div class="janela" th:id="${proposta.usuario.id}">
        <div class="cabecalho_janela">
            <a href="#" class="fechar"></a>
            <span class="nome" th:text="${proposta.funcionario.nome}"></span>
            <span th:id="${proposta.usuario.id}" class="status on"></span>
        </div>
        <div class="corpo">
            <div class="mensagens">
                <ul>
                </ul>
            </div>
            <div class="enviar">
                <input type="text" name="mensagem" class="msg" th:id="|${proposta.usuario.id}:${proposta.funcionario.id}|" />
            </div>
        </div>
    </div>
</aside>

<aside sec:authorize="hasAuthority('NIVEL_FUNCIONARIO')" id="chat_funcionario">
    <div class="janela" th:id="${proposta.funcionario.id}">
        <div class="cabecalho_janela">
            <a href="#" class="fechar"></a>
            <span class="nome" th:text="${proposta.usuario.nome}"></span>
            <span th:id="${proposta.funcionario.id}" class="status on"></span>
        </div>
        <div class="corpo">
            <div class="mensagens">
                <ul>

                </ul>
            </div>
            <div class="enviar">
                <input type="text" name="mensagem" class="msg" th:id="|${proposta.funcionario.id}:${proposta.usuario.id}|" />
            </div>
        </div>
    </div>
</aside>

<!-- MODALS -->
<div class="modal fade" id="modal_alterada" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Alteração com Sucesso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Atributo(s) da proposta alterado(s) com sucesso.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_error" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Alteração Falhou</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Não foi possível realizar a alteração. Por favor, tente novamente.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- JQUERY -->
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}"></script>
<!-- SCRIPT CHAT -->
<script th:src="@{../../js/chat/chat.js}"></script>
<script th:src="@{../../js/proposta/verifica_alteracao.js}"></script>

<!-- MENU -->
<script th:src="@{../js/menu/jquery.menu-aim.js}"></script>
<script th:src="@{../js/menu/main.js}"></script>
<script th:src="@{../js/menu/jquery.menu-aim.js}"></script>
<script th:src="@{../js/menu/modernizr.js}"></script>

<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}" ></script>

<!--MODAL-->
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js}" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js}" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<!-- SCRIPTS -->
<script th:if="${param.alterada}" >
    $(function(){
        $('#modal_alterada').modal('show');
    });
    $(function () {
        $('#modal_alterada').modal('toggle');
    });
</script>
<script th:if="${param.error}" >
    $(function(){
        $('#modal_error').modal('show');
    });
</script>
</body>
</html>