<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="">
<head>
    <title>Antipragas - Negociação</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/../css/style_negociacao.css}" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-full " id="nav-main">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/usuario/painel}" id="item-menu">Voltar</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="conteudo">
        <div class="row">
            <div class="conteudo-proposta col-12 col-md-3">
                <div class="row titulo">
                    <div class="col-md-12 col-12" id="info_proposta">
                        <input type="hidden" th:value="${proposta.id}" id="id_proposta" />
                        <h1 th:inline="text">Proposta [[${proposta.id}]]</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" th:inline="text">
                        <span style="font-weight: bold">Tipo:</span>[[${proposta.tipo}]]
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" th:inline="text">
                        <span style="font-weight: bold">Frequencia:</span> [[${proposta.frequencia}]]
                    </div>
                    <div class="col-md-6" th:inline="text">
                        <span style="font-weight: bold">Quantidade:</span> [[${proposta.quantidade}]]
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" th:inline="text">
                        <span style="font-weight: bold">Descricão:</span> [[${proposta.descricao}]]
                    </div>
                </div>
            </div>

            <div class="conteudo-servico col-12 col-md-7">
                <input class="button-negociando aceitar" type="button" value="Aceitar" />
                <input class="button-negociando cancelar" type="button" value="Cancelar" />
            </div>

        </div>
    </div>

    <aside sec:authorize="hasAuthority('NIVEL_CLIENTE')" id="chats">
        <div class="janela" th:id="${proposta.usuario.id}">
            <div class="cabecalho_janela">
                <a href="#" class="fechar"></a>
                <span class="nome" th:text="${proposta.funcionario.nome}"></span>
                <span th:id="${proposta.usuario.id}" class="status on"></span>
            </div>
            <div class="corpo">
                <div class="mensagens">
                    <ul>
                    </ul>
                </div>
                <div class="enviar">
                    <input type="text" name="mensagem" class="msg" th:id="|${proposta.usuario.id}:${proposta.funcionario.id}|" />
                </div>
            </div>
        </div>
    </aside>

    <aside sec:authorize="hasAuthority('NIVEL_FUNCIONARIO')" id="chats">
        <div class="janela" th:id="${proposta.funcionario.id}">
            <div class="cabecalho_janela">
                <a href="#" class="fechar"></a>
                <span class="nome" th:text="${proposta.usuario.nome}"></span>
                <span th:id="${proposta.funcionario.id}" class="status on"></span>
            </div>
            <div class="corpo">
                <div class="mensagens">
                    <ul>

                    </ul>
                </div>
                <div class="enviar">
                    <input type="text" name="mensagem" class="msg" th:id="|${proposta.funcionario.id}:${proposta.usuario.id}|" />
                </div>
            </div>
        </div>
    </aside>

    <!-- JQUERY -->
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}"></script>
    <!-- SCRIPT CHAT -->
    <script th:src="@{../../js/chat/chat.js}"></script>

</body>
</html>