<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="">
<head th:replace="fragments/head::head"></head>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- STYLE DOS ITEM -->
    <link th:href="@{/../css/style_proposta_item.css}" rel="stylesheet" />
    <link th:href="@{/../css/style_pragas.css}" rel="stylesheet" />
</head>
<body>
<header th:replace="fragments/menu_responsivo::header1"></header>
<main th:replace="fragments/menu_responsivo::header2"></main>
<main class="cd-main-content">
    <div class="content-wrapper">
        <div sec:authorize="hasAuthority('NIVEL_ADMINISTRADOR') or hasAuthority('NIVEL_FUNCIONARIO')">
            <div class="form-ct">
                <form class="form-horizontal">
                    <legend>Filtros</legend>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="fieldcpf">Filtrar por Cliente</label>
                            <div class="col-md-5">
                                <input name="fieldcpf" class="form-control input-md" id="fieldcpf" type="text" placeholder="CPF do Cliente"/>
                        </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="fieldfuncionario">Filtrar por Funcionario</label>
                            <div class="col-md-5">
                                <input name="fieldfuncionario" class="form-control input-md" id="fieldfuncionario" type="text" placeholder="Nome do Funcionário"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="btn-search"></label>
                            <div class="col-md-5">
                                <a href="#" name="btn-search" class="btn btn-success btn-search" id="btn-search">Filtrar</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <h1>Propostas</h1>
        <div class="categoria_lista">
            <a href="#" class="categoria_item" category="todas">Todas</a>
            <a href="#" class="categoria_item" category="pendente">Pendente</a>
            <a href="#" class="categoria_item" category="aprovada">Aprovada</a>
            <a href="#" class="categoria_item" category="deliberada">Deliberada</a>
            <a href="#" class="categoria_item" category="cancelada">Cancelada</a>
            <a sec:authorize="hasAuthority('NIVEL_CLIENTE')" href="#" class="categoria_item" category="aberta">Em Aberto</a>
        </div>
        <section class="todas_propostas">
            <!-- ADICIONADA POR AJAX EM load.js -->
        </section>
        <div class="nenhuma_proposta">
            <h1 class="aviso"></h1>
        </div>
    </div>
</main>

<!-- MODELS -->
<div class="modal fade" id="modal_cancelada" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Proposta Cancelada</h5>
                <a class="close" th:href="@{/proposta/visualizar}" role="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                A proposta foi cancelada com sucesso.
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" th:href="@{/proposta/visualizar}" role="button">Fechar</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_aceita" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Proposta Aceita</h5>
                <a class="close" th:href="@{/proposta/visualizar}" role="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                Você aceitou a proposta da empresa, aguarde a confirmação da mesma.
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" th:href="@{/proposta/visualizar}" role="button">Fechar</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_aceitaf" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Serviço(s) Gerados</h5>
                <a class="close" th:href="@{/proposta/visualizar}" role="button" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                Serviço(s) referente(s) a proposta foi gerado com sucesso.
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" th:href="@{/proposta/visualizar}" role="button">Fechar</a>
            </div>
        </div>
    </div>
</div>

<!-- JQUERY -->
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}" ></script>
<!-- MENU -->
<script th:src="@{../js/menu/jquery.menu-aim.js}"></script>
<script th:src="@{../js/menu/main.js}"></script>
<script th:src="@{../js/menu/jquery.menu-aim.js}"></script>
<script th:src="@{../js/menu/modernizr.js}"></script>
<!-- SCRIPT -->
<script th:src="@{../js/proposta/load.js}"></script>   <!--carrega proposta por demanda-->
<!--<script th:src="@{../js/proposta/search.js}"></script> &lt;!&ndash;filtra as propostas&ndash;&gt;-->

<!--MODAL-->
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js}" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js}" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script th:if="${param.cancelada}" >
    $(function(){
        $('#modal_cancelada').modal('show');
    });
</script>

<script th:if="${param.aceita}" >
    $(function(){
        $('#modal_aceita').modal('show');
    });
</script>

<script th:if="${param.aceitaf}" >
    $(function(){
        $('#modal_aceitaf').modal('show');
    });
</script>

</body>
</html>