<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head:: head"></head>
<head>
    <title>Serviços Concluídos</title>
</head>
<body>

<header th:replace="fragments/menu_responsivo :: header1"></header>
<main th:replace="fragments/menu_responsivo :: header2"></main>

<!--<hr></hr>-->
<main class="cd-main-content">
    <div class="content-wrapper">
<div class="container"><h2>Serviços Cancelados</h2></div>

<div id="exTab2" class="container">
    <div class="tab-content ">
        <div class="tab-pane" id="3">
            <div class="tab-pane active" id="1">
                <div th:if="${#lists.isEmpty(servicos_cancelados)}">
                    <h5>Nenhum serviço cancelado!</h5>
                </div>
                <div th:unless="${#lists.isEmpty(servicos_cancelados)}">
                    <table>
                        <thead>
                        <th>Descrição</th>
                        <th>Data Prevista</th>
                        <th>Técnico Responsável</th>
                        <!--<th>Endereço</th>-->
                        <th>Pragas Previstas</th>
                        <th>Visualizar Relatório</th>
                        </thead>
                        <tbody>
                        <tr th:each="servico : ${servicos_cancelados}">
                            <td th:text="${servico.descricao}">Descrição</td>
                            <td th:text="${#dates.format(servico.dataHorario, 'dd/MM/yyyy')}">Data Prevista</td>
                            <td th:text="${servico.funcionarioTecnico.nome}">Técnico Responsável</td>
                            <!--<td th:text="${endereco.rua} + ', ' + ${endereco.numero} +-->
								<!--', ' + ${endereco.complemento} + ', ' + ${endereco.bairro} +-->
								<!--', ' + ${endereco.cep} + ', ' + ${endereco.cidade} + ', ' + ${endereco.uf}">Endereço</td>-->
                            <td th:each="praga : ${servico.pragas}">
                                <p th:text="${praga.nome}">Possível Praga</p>
                            </td>
                            <td><button type="button" class="btn btn-primary">Visualizar</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</main>
<!--<hr></hr>-->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery library -->
<!-- JQUERY -->
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}" ></script>
<!-- JAVASCRIPT REGISTER -->
<script type="text/javascript" th:src="@{/js/cadastro.js}" ></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>
</html>